a {
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 2px solid gray;
    margin: 0;
    padding: 20px;
}
#grid ul {
    font-size: 20px;
    border-right: 2px solid gray;
    width: 100px;
    margin: 0;
    padding: 30px;
    width: 110px;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
#grid #contents {
    padding-left: 45px;
}
@media(max-width: 600px) {
    #grid {
        display: block;
    }
    #grid ul {
        border-right: none;
    }
    h1 {
    border-bottom: none;
    }
}